body {
    background-image: url("../img/logo\ leon.jpg");
   
  }
.container{
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border-radius: 15px;
    box-shadow: 7px 13px 37px #000;
    padding: 30px;
    opacity: 90%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text p{
    font-size: large;
}

#logo {
    width: 55px;
}
.datos{
    color: aliceblue;
}